.wrapper {
  background-color: rgb(41, 38, 38);
}

.movies_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 50px;
}