.language-list {
  position: absolute;
  top: 50px;

  width: 50px;

  font-size: 3rem;
  text-align: center;

  background-color: white;
  

}

.language-list > li:hover {
  font-weight: bold;

  background-color: rgb(192, 180, 180);
  
  cursor: pointer;
}

.select-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.langBtn {
  font-weight: bold;

}