.language-list {
  position: absolute;
  top: 50px;
  background-color: white;
  width: 50px;
  text-align: center;
  font-size: 3rem;

}

.language-list > li:hover {
  
  cursor: pointer;
  background-color: rgb(192, 180, 180);
}

.select-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}